.register-body {
    justify-content: center;
    background-image: linear-gradient(to bottom right, #FF7B54, #FFD56B);
}

.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    margin-right: 20px;
}

.register-image {
    margin-left: 75px;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 700px) {
    .register-page {
        flex-flow: column-reverse;
    }
    .register-image {
        margin: 20px;
    }
}