.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 12rem;
    background-color: white;
}

.hero-text-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 70%;
    padding: 0 5rem;
    color: black;
    font-weight: 600;
}

.hero-text-container h1 {
    font-size: 4rem;
}

.hero-text-container p {
    text-align: start;
    font-size: 1.1rem;
    /* line-height: 1.5rem; */
}

.hero-btn {
    padding: 0.75rem;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    color: #fff;
    background-color: #FF7B54;
}

.hero-btn:hover, 
.hero-btn:active {
    background-color: #ff5522;
    transition: all linear 0.15s 0.05s;
    cursor: pointer;
} 

.hero-image-container {
    width: 30%;
}

@media only screen and (max-width: 990px) {
    .hero-section {
        padding: 6rem 3rem;
    }

    .hero-text-container {
        width: 60%;
        padding: 0;
    }

    .hero-text-container h1 {
        font-size: 2.5rem;
    }

    .hero-text-container p {
        font-size: 1.5rem;
    }

    .hero-image-container {
        width: 40%;
    }
}