.head-sentence {
    text-align: center;
    top: 10px ;
    position: relative;
}

.firsttopic {
    color: #FF7B54;
    font-weight: 500px;
    font-size: 40px;
    text-align: center;
}

.secondtopic {
    color: #525252;
    font-weight: 700px;
    font-size: 30px;
    margin-top: 8px;
}

.thirdtopic {
    color: #525252;
    font-weight: 700px;
    font-size: 25px;
    margin-top: 8px;
}
