@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Sono:wght@300;400;500;700&display=swap');

.btn-changecover {
    position: absolute;
    bottom: 15px;
    right: 120px;
    padding: 5px;
    font-family: 'Sono', sans-serif;
    cursor: pointer;
}