.bg-readcard {
    width: 1440px;
    height: 100%;
    background-color: #ffff;
    position: absolute;
}

.r-coverimage {
    width: 100%;
    height: 25%;
    position: relative;
    background-color: antiquewhite;
}

.r-callout {
    border: 1px solid black;
    width: 60%;
    height: 20%;
    /* margin-top: 10px; */
    margin: 0 auto;
}
