.emojiContainer {
    width: 100%;
    height: 100%;
    border: 1px solid green;
}

.textarea {
    padding: 2%;
    width: 70%;
}

.yes {
    color: black;
}

.emoji-subcontainer{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    gap: 5px;
}

.emoji-box {
    background-color: aqua;
    width: 30px;
    height: 30px;
    cursor: pointer;
    
    
}