form {
    top: 25px;
    color: black;
    position: relative;
    border: 1px solid goldenrod;
    width: 740px;
    margin: 0 auto;
}

.title-date {
    position: relative;
    display: flex;
    justify-content: start;
    gap: 20px;
}

/* activity */
.activity-container{
    margin-top: 10px;
}

.activity-container p {
    text-align: left;
}

.activity-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
}

.activity-image {
    height: 50px;
    width: 50px;
}

.tile { 
    height: 80px;
    width: 90px;
    position: relative;
    /* border-radius: 10%; */
    /* border: 1px solid rgba(216, 216, 216, 0.275); */
}

input[type="radio"] {
    -webkit-appearance: none;
    position: relative;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 10%;
    cursor: pointer;
    border: 3px solid transparent;
    outline: none;
    box-shadow: 5px 5px 5px  rgba(1, 8, 15, 0.05);
} 

.activity-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    cursor: pointer;
    color:   #808080;
}

/* when mouse hover: words turn to orange */
.activity-label:hover {
    color:orange;
}

/* when mouse hover: icon get more bigger */
input[type="radio"]:hover + label .activity-image {
    width: 60px; 
    height: 60px;
}

/* after clicked, border appear */
input[type="radio"]:checked {
    transform: scale(1.05);
    border: 3px solid orange;
}

/* after clicked, words turn to orange */
input[type="radio"]:checked + .activity-label {
    color:orange;
}


