.register-container {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    padding: 10%;
    width: 45%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-title {
    margin-top: 0;
    text-align: left;
    margin-bottom: 50px;
    font-size: 3rem;
}

.register-fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}

.register-fields input {
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
}






.username-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.username-input-container {
    width: 100%;
    font-family: 'Sono', sans-serif;
    margin-top: 10px;
}





.password-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.password-input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
}

.password-input-container input {
    flex: 1;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-family: 'Sono', sans-serif;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-72.5%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.password-toggle:focus {
    outline: none;
}

.password-toggle:hover svg {
    color: #007aff;
}

.password-toggle svg {
    font-size: 20px;
    color: #333;
    display: block;
    margin: auto;
}

.password-forget {
    margin-top: 10px;
    margin-bottom: 30px;
}






.register-button {
    background-color: orangered;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 50px;
    width: 100%;
    font-family: 'Sono', sans-serif;
}

.register-button:hover {
    background-color: #0058b5;
}






.register-social-container {
    margin-bottom: 50px;
}

.register-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.register-social-button {
    background-color: white;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    cursor: pointer;
    margin: 0 5px;
    padding: 10px 50px;
    text-align: center;
}






@media screen and (max-width: 992px) {
    .register-social {
        flex-direction: column;
    }

    .register-social-button {
        margin: 10px 0;
    }
}


.register-social-button svg {
    font-size: 20px;
}


.register-social-button:hover {
    background-color: #f2f2f2;
}






.register-footer {
    font-size: 14px;
    color: #999;
}

.register-footer a {
    color: #007aff;
    text-decoration: none;
}

.register-footer a:hover {
    text-decoration: underline;
}






@media screen and (max-width: 700px) {
    .register-container {
        width: 75%;
    }

    .register-title,
    .username-container,
    .password-container,
    .password-forget {
        text-align: center;
    }
}